@keyframes fadeIn {
  to { opacity: 1; transform: translateY(0); }
}

@keyframes breathe {
  0% { transform: scale(1.02); filter: brightness(0.9);}
  50% { transform: scale(1.05); filter: brightness(1);}
  100% { transform: scale(1.02); filter: brightness(0.9);}
}

@keyframes mist{
  from{transform:translateY(0);}
  to{transform:translateY(-25px);}
}
